@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

.Searchpage_BG{
    background-color: rgb(28, 28, 29);
    background-size: cover;
    height: 700px;
    width: 100%;
    text-align: center;
    display: table;
}

.Searchpage_support{
    display:table-cell;
    vertical-align:middle;
}

.Searchpage_text{
    color: white;
    font-size: 90px;
    line-height: 100px;
    font-family: 'Do Hyeon', sans-serif;
}

.Searchpage_menu_BG{
    width: 600px;
    align-items: center;
    margin : 0 auto;
    margin-top: 50px;
}

.Serchpage_menu{
    margin-top: 50px;
    margin: 20px;
    background-color: white;
    border-radius: 5px;
}
